{% extends 'base.html' %}

{%block title%}
{%endblock%}
{%block content%}
<h1>Profile Information</h1>
<ul>
    <li><b>Username:</b> {{user.username}}</li>
    <li><b>Email:</b> {{user.email}}</li>
    <li><b>First Name:</b> {{user.first_name}}</li>
    <li><b>Last Name:</b> {{user.last_name}}</li>
</ul>
<form>
    <button formaction="/users/{{ user.username }}/delete" formmethod="POST">
        DELETE USER
    </button>
</form>
<ul>
    {% for feedback in user.feedback %}

    <li>
        <b>{{ feedback.title }}</b>
        <i>{{ feedback.content }}</i>

        <form>
            <button formmethod="GET" formaction="/feedback/{{feedback.id}}/update">
                Edit
            </button>
            <button formmethod="POST" formaction="/feedback/{{feedback.id}}/delete">
                Delete
            </button>
        </form>
        {% endfor %}
    </li>
</ul>
<form>
    <button formmethod="GET" formaction="/users/{{user.username}}/feedback/add">Add Feedback</button>
</form>
{%endblock%}